#top {
    background-image: url("color.jpg");
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    width: 100%;
    word-break: break-all;
    }
header p {
    font-family: cursive;
    font-size: 2.5em;
    color: black;
    text-shadow: 3px 3px 5px white;
    background-color: #ffffff4a;
    height: 50%;
    word-break: break-all;
    word-wrap: break-word;
    padding: 0;
    margin: 0;
    width: 90%;
    }
body {
      margin: 0;
    }

main {
    background-image: url("paper-color.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    background-position: fixed;
    } 
    
#login {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  }
#login h2{
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px darkblue;
    color: turquoise;
    height: fit-content;
}
form {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 25px;
    padding: 30px 50px;
    height: fit-content;
    width: 250px;
    display: flex;
    flex-direction: column;
    border: 7px solid #0000002b;
    background-image: linear-gradient(#ff00006b, #ffff007a);
    }
form button {
    margin-top: 13px;
    padding: 10px;
    padding-bottom: 5px;
    background-image: linear-gradient(rgb(233, 77, 103), white);
    border: none;
    border-radius: 3px;
    }
h3 {
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px 0;
    font-size: 2em;
    background-image: linear-gradient(#ff00006b, #ffff007a);
    text-align: -webkit-center;
    color: darkcyan;
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px darkblue;
    }

form input {
    padding: 5px;
    border-radius: 5px;
    }
form input:hover {
    box-shadow: 0 0 25px white;
}
span img {
    opacity: 0.8;
    height: 150px;
    width: 200px;
    border: 5px solid rgb(255, 214, 139);
}
#zone:hover {
    box-shadow: 0 0 15px rgb(180, 245, 143);
    cursor: pointer;
    background-color: rgb(209, 41, 139);
    color: aliceblue;
    border-color: rgb(165, 23, 23);
    background-image: none;
}

span img:hover {
    height: 150px;
    box-shadow: 0 0 15px rgb(180, 245, 143);
    opacity: 1;
}
details {
    display: inline-block;
}
summary+img {
    opacity: 1;
    display: flex;
}
div#a-h {
padding: 50px;
}
footer p {
    color: rgb(160, 156, 156);
    background-image: linear-gradient (#ff00006b, #ffff007a);
}
div#test,p,select {
    display: inline-block;
    padding: 10px;
    margin: 5px;
}
div#test p {
    font-size: 25px;
    font-weight: bold;
    text-shadow:2px 2px 8px black, 0 0 25px white, 0 0 5px darkblue;
    color: rgb(105, 206, 65);
}
button#check {
    
font-weight: bold;
background-image: linear-gradient(rgb(253, 84, 6),#c17f7f91, rgb(190, 34, 34));
font-size: 20px;
width: 60%;
padding: 10px;
color: black;
border-color: #ffd7008a;
}
button#check:hover {
    border-color: rgb(1, 54, 1);
    color: aliceblue;
}
div#cong {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}
#cong h1 {
    font-size: 2.5em;
    color: aliceblue;
    text-shadow:2px 2px 8px black, 0 0 25px white, 0 0 5px darkblue;
    margin-top: 0px;
}
#cong p{
    font-size: 1.2em;
    color: darkcyan;
    font-weight: 900;
    text-shadow:2px 2px 8px black, 0 0 25px white, 0 0 5px darkblue;
    
}
#cong img {
    height: 150px;
    width: 200px;
}
nav select:hover {
    border-color: blue;
    box-shadow: 2px 2px 8px black, 0 0 25px white, 0 0 5px darkblue;
    color: royalblue;
    background-image: linear-gradient(pink, red);
    font-weight: bold;
    text-shadow:2px 2px 8px paleturquoise, 0 0 25px white, 0 0 5px wheat; 
}
nav option {
    background-image: linear-gradient(white, grey)
}
   
nav ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
nav li {
    flex: 1;
  }
nav li:hover a::before {
    right: 0;
    left: 0;
  }
  nav a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
    padding: 20px 10px;
    display: block;
    position: relative;
    transition: all 0.3s ease;
  }
  nav a:hover {
    color: wheat;
  }
  nav a::before {
    content: "";
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 2px;
    background-color: #e74c3c;
  }
  nav a:hover::before {
    right: 0;
    left: 0;
  }
   
  li {
      list-style: none;
  }
@media screen and (min-width:200px) and (max-width:450px) {
header#top p{
  font-size: 2em;
  height: 80%;
  padding: 0;
  width: 80%;
  margin: 0;
}
header{
  flex-wrap: wrap;
}
nav a{
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 1em;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
nav{
    margin-top: 10px;
}
  div#login{
    width: 100%;
    display: flex;
     flex-direction: column;
     justify-content: center;
     margin: 0;
  }
  form {
      margin: 0px;
      display: flex;
      flex-direction: column;
      padding: 20px;
       border-radius: 5px;
      }
  form button {
      margin: 0;
      margin-top: 15px;
      padding-top: 5px;
      padding: 10px;
      background-image: linear-gradient(rgb(233, 77, 103), white);
      border: none;
      border-radius: 3px;
      }
}
