#top {
    background-image: url("color.jpg");
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }
header p {
    display: inline;
    font-family: cursive;
    font-size: 50px;
    color: black;
    text-shadow: 3px 3px 5px white;
    background-color: #ffffff4a;
    position: relative;
    top: 18px;
    }

.flex-container {
    background-image: url("paper-color.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
div.relative {
    position: relative;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    } 
div.absolute {
    padding: 25px;
    position: absolute;
    top: 85px;
    right: 100px;
    width: 250px;
    height: 250px;
    border: 7px solid #0000002b;
    background-image: linear-gradient(#ff00006b, #ffff007a);
    }
form {
    margin: 32px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 25px;
    }
form button {
    margin-left: 55px;
    margin-top: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    }
h3 {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 0px;
    font-size: 45px;
    background-image: linear-gradient(#ff00006b, #ffff007a);
    text-align: -webkit-center;
    color: darkcyan;
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px darkblue;
    }

form input {
    padding: 5px;
    }
form input:hover {
    box-shadow: 0 0 25px white;
}
span img {
    opacity: 0.8;
    height: 150px;
    width: 200px;
    border: 5px solid rgb(255, 214, 139);
}
#zone:hover {
    box-shadow: 0 0 15px rgb(180, 245, 143);
    cursor: pointer;
    background-color: rgb(209, 41, 139);
    color: aliceblue;
    border-color: rgb(165, 23, 23);
}

span img:hover {
    height: 150px;
    box-shadow: 0 0 15px rgb(180, 245, 143);
    opacity: 1;
}
details {
    display: inline-block;
}
summary+img {
    opacity: 1;
    display: flex;
}
div#a-h {
padding: 50px;
}
div div {
    display: block;
}
footer p {
    color: rgb(160, 156, 156);
    background-image: linear-gradient (#ff00006b, #ffff007a);
}
div#test,p,select {
    display: inline-block;
    padding: 10px;
    margin: 5px;

}
div#test p {
    font-size: 25px;
    font-weight: bold;
    text-shadow:2px 2px 8px black, 0 0 25px white, 0 0 5px darkblue;
    color: rgb(105, 206, 65);
}
button#check {
    
    margin-left: 250px;
   font-weight: bold;
   background-image: linear-gradient(rgb(253, 84, 6), rgb(190, 34, 34));
   font-size: 20px;
    width: 500px;
    padding: 10px;
    color: blue;
    border-color: gold;

}
button#check:hover {
    border-color: rgb(1, 54, 1);
    color: aliceblue;
}
div#cong {
    display: inline-block;
    position: relative;
    height: 100px;
    margin-top: 0px;
    text-align: center;
}
#cong h1 {
    font-size: 55px;
    color: aliceblue;
    text-shadow:2px 2px 8px black, 0 0 25px white, 0 0 5px darkblue;
    margin-top: 0px;
}
#cong img {
    height: 150px;
    width: 200px;
}
#cong-box {
    position: static;
    height: 100vh;
    width: 100vw;
    text-align: center;
}
nav {
    text-align: right;
    display: block;
}
nav select:hover {
    border-color: blue;
    box-shadow: 2px 2px 8px black, 0 0 25px white, 0 0 5px darkblue;
    color: royalblue;
    background-image: linear-gradient(pink, red);
    font-weight: bold;
    text-shadow:2px 2px 8px paleturquoise, 0 0 25px white, 0 0 5px wheat; 
}
nav option {
    background-image: linear-gradient(white, grey)
}
#menu-nav {
    max-width: 1000px;
    margin: 0px auto;
    background-image: linear-gradient( rgba(192, 240, 192, 0.527));
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    color: aqua;

  }
   
  #navigation-bar ul {
    border-radius: 4px;
    overflow: hidden;
    margin: 0px;
  }
  #navigation-bar li {
    float: left;
    width: 20%;
  }
  #navigation-bar li:hover a::before {
    right: 0;
    left: 0;
  }
  #navigation-bar a {
    color: #848484;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 20px 0;
    display: block;
    position: relative;
    transition: all 0.3s ease;
  }
  #navigation-bar a:hover {
    color: wheat;
  }
  #navigation-bar a::before {
    content: "";
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 2px;
    background-color: #e74c3c;
  }
  #navigation-bar a:hover::before {
    right: 0;
    left: 0;
  }
   
  li {
      list-style: none;
  }