#top {
    background-image: url("color.jpg");
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }
p {
    display: inline;
    font-family: cursive;
    font-size: 52px;
    color: black;
    text-shadow: 3px 3px 5px white;
    background-color: #ffffff4a;
    }
    nav {
        position: relative;
        top: 70px;
    }
.flex-container {
    background-image: url("paper-color.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
div.relative {
    position: relative;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    border: 3px solid rgb(147, 125, 208, 0.44);
    } 
div.absolute {
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 70px;
    padding-bottom: 30px;
    border-left-width: 20px;
    position: absolute;
    top: 100px;
    right: 100px;
    width: 192px;
    height: 180px;
    border: 7px solid #0000002b;
    background-image: linear-gradient(#ff00006b, #ffff007a);
    }
form {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 25px;
    }
#zone {
    margin-left: 55px;
    margin-top: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    }
div.abc {
    background-image: url("buttons.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: -webkit-fill-available;
    background-repeat: repeat-y;
    }
h3 {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 10px;
    font-size: 45px;
    background-image: linear-gradient(#ff00006b, #ffff007a);
    text-align: -webkit-center;
    color: darkcyan;
    text-shadow: 4px 4px 5px white;
    }
#name {
    padding-top: 5px;
    padding-bottom: 5px;
    }
#city {
    padding-top: 5px;
    padding-bottom: 5px;
    }
#alph {
    display: inline;
    height: 200px;
}
ol#list li {
    display: inline;
}
