#top {
    background-image: url("images.jpg");
    background-color: #cccccc;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }
p {
    display: inline;
    font-family: cursive;
    font-size: 52px;
    color: #842994f5;
    text-shadow: burlywood;
    text-shadow: 3px 3px 5px white;
    }
#login {
    background-image: url("learning-fun.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }
div.relative {
    position: relative;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    border: 3px solid #73AD21;
    } 
div.absolute {
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 70px;
    padding-bottom: 30px;
    border-left-width: 20px;
    position: absolute;
    top: 90px;
    right: 200px;
    width: 192px;
    height: 180px;
    border: 7px solid #0000002b;
    background-image: linear-gradient(#ff00006b, #ffff007a);
    }
form {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 25px;
    }
#zone {
    margin-left: 55px;
    margin-top: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    }
div.abc {
    background-image: url("buttons.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: -webkit-fill-available;
    background-repeat: repeat-y;
    }
h3 {
    font-family: 'Lobster', cursive;
    margin-top: 10px;
    font-size: 45px;
    background-image: linear-gradient(#ff00006b, #ffff007a);
    text-align: -webkit-center;
    color: darkgreen;
    text-shadow: 4px 4px 5px white;
    }
#name {
    padding-top: 5px;
    padding-bottom: 5px;
    }
#city {
    padding-top: 5px;
    padding-bottom: 5px;
    }
#alph {
    display: inline;
    height: 200px;
}
ol#list li {
    display: inline;
}
